
.card {
    cursor: pointer;
    background: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .card.active {
    background-color: antiquewhite;
  }
  
  .card .card-header {
    font-size: 1.4rem;
   }
  
   
  .card .card-header h3 {
    color: black;
    margin: 0px;
   }
  
   .card .card-header .card-subtitle {
    color: #AAA;
   }
  
   .card .card-image img{
     max-width: 100%;
   }
  
   .card .card-content, .card .card-header, .card .card-footer {
    padding: 20px;
  }