body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  background: #FAFAFA;
}

html {
  font-size: 10px;
}

body *{
  box-sizing: border-box;
  font-size: 1.4rem;
}

.App {
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
  grid-template-rows: 60px auto 20px;
  min-height: 100vh;
}


.App header {
  grid-area: header;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App .side-container {
  grid-area: sidenav;
  background: #fff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.App main{
  grid-area: main;
  padding: 20px;
  overflow: hidden;
}

.App footer{
  grid-area: footer;
  padding: 20px;
}


button {
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}



.disease-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
 
}


@media only screen and (min-width: 768px) {

  .disease-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

label {
  font-weight: bold;
  margin-bottom: 3px;
}

.form-container .form-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.hidden {
  display: none;
}