body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  background: #FAFAFA;
}

html {
  font-size: 10px;
}

body div{
  box-sizing: border-box;
  font-size: 1.1rem;
}


header {
  padding: 20px;
}

main{
  padding: 20px;
}

.disease-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
 
}


@media only screen and (min-width: 768px) {

  .disease-list {

    grid-template-columns: repeat(3, 1fr);
   
  }
  
}